header {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    margin-top: 92px;
    align-items: center;
    font-size: 18px;
    margin-bottom: 96px;
}

li a {
    color: black;
}

.header-menu {
    display: flex;
    gap: 32px;
    justify-content: end;
    list-style-type: circle;
    font-size: 18px;
    width: 391.48px;
    margin-left: 50.52px;
}
  
.header-menu-li-none {
    list-style-type: none;
}

.header-menu-logo-link {
    margin-left: 36px;
    width: 148px;
    height: 105px;
}

.header-menu-logo {
    width: 100%;
    height: 100%;
}

.adress-phone {
    text-decoration: underline;
    list-style-type: none;
    text-underline-position: under;
}

.adress-mail {
    text-decoration: underline;
    list-style-type: none;
    text-underline-position: under;
}

.adress-home {
    width: 240px;
    list-style-type: none;
    word-break: break-all;
}

.header-menu-ul-info {
    font-size: 18px;
    font-style: normal;
}

.cover {
    position: relative;
    padding: 165px 50px 147px 50px;
    background-image: url(../images/lotus-flower.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1100px;
    min-height: 757px;
}

.cover-opacity {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.cover-title {
    font-size: 100px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.cover-title-spacing {
    letter-spacing: 60px;
}

.cover-title-normalizing-spacing {
    letter-spacing: normal;
}

.cover-title-align-left {
    display: block;
    text-align: left;
}

.cover-title-align-center {
    margin-left: 285px;
    margin-top: 10px;
}

.cover-title-align-right {
    text-align: right;
}

.cover-description {
    padding-top: 127.5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-description-text {
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    margin-right: 25px;
    word-spacing: 17.5px;
    font-weight: 400;
    width: 637px;
    margin-left: 30px;
}

.cover-auc-button {
    min-width: 256px;
    margin-left: 50px;
    padding: 14px 32px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    border: 1px white solid;
    background-color: transparent;
    font-size: 22px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.cover-auc-button:hover {
    background-color: whitesmoke;
    color: #010;
}

.lots {
    width: 1100px;
    margin-top: 180px;
}

.lots-header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin-left: 64px;
    margin-bottom: 27px;
}

.lots-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    width: 334px;
    min-height: 563px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.film-lot {
    background-image: url("../images/first-lot.png");
    margin-left: 24px;
}

.book-lot {
    background-image: url("../images/second-lot.jpg");
}

.painting-lot {
    background-image: url("../images/third-lot.png");
    margin-right: 24px;
}

.film-lot h3,
.film-lot p,
.book-lot h3,
.book-lot p,
.painting-lot h3,
.painting-lot p {
    position: relative;
}


.lot-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    margin-left: 39px;
    margin-right: 40px;
    margin-top: 51px;
    color: white;
    z-index: 3;
    width: 254px;
    min-height: 110px;
    text-decoration: underline;
}


.lot-text {
    font-size: 20px;
    width: 254px;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 24px;
}

.film-lot-text {
    margin-top: 210px;
    min-height: 144px;
}

.book-lot-text {
    min-height: 360px;
}

.painting-lot-text {
    margin-top: 90px;
    min-height: 264px;
}

.lot-link {
    margin-top: 12.5px;
    margin-left: 64px;
    font-size: 20px;
    color: black;
}

.about {
    margin-top: 148px;
    display: flex;
}

.about-ellipse {
    background-color: #000;
    width: 240px;
    height: 240px;
    margin-left: 71px;
    margin-top: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-logo {
    width: 148px;
    height: 114px;
}

.about-content-header {
    margin-left: 70px;
    margin-top: 133px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about-content-text-up {
    margin-left: 70px;
    width: 693px;
    font-size: 20px;
    margin-bottom: 24px;
}

.about-content-text-down {
    font-size: 20px;
    margin-left: 70px;
    width: 698px;
    min-height: 168px;
}

.all-footer {
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
}

.footer-menu-contact {
    justify-content: start;
    width: 240.52px;
    margin-left: 50px;
    font-style: normal;
}

.footer-adress {
    list-style-type: none;
    font-size: 18px;
    text-underline-position: under;
}

.footer-li-menu {
    list-style-type: none;
    font-size: 18px;
    text-align: center;
    text-underline-position: under;
}

.no-link {
    text-decoration: none;
    color: black;
}

.menu-underline {
    text-underline-position: under;
}

.footer-menu-socials {
    margin-right: 50px;
    display: flex;
    gap: 48px;
}

.footer-socials {
    width: 48px;
    height: 48px;
}